@use "sass:map";
@use "@angular/material" as mat;
@import "../theme.scss";

$primary-color: map.get($md-primary, 200);

:host {
    display: flex;
    flex-direction: row;
    height: 100%;
}

app-side-bar {
    width: 96px;
    padding: 0 8px;
    background-color: gray;
}

.container {
    background-color: $primary-color;
    width: 100%;
}